<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SyncTogether - <%= roomName %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Make the following variables available in main.js -->
    <script> const nickname = "<%= nickname %>"; const roomName = "<%= roomName %>"; const backup = "<%= backup %>" </script>
    <script defer src="https://www.youtube.com/iframe_api"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/main.js"></script>
  </head>
  <body class="room-body">
    <header class="room-header">
      <i class="material-icons logo">loop</i>
      <a href="/" id="room-title">SyncTogether</a>
      <input id="searchbar" type="text" placeholder="Search for YouTube video or enter URL"/>
      <button id="invite-btn"><i class="material-icons invite-icon">person_add_alt_1</i>Invite Friends</button>
    </header>
    <main>
      <!-- YouTube player -->
      <div id="player"></div>
      <!-- Chat -->
      <div class="chat-box">
        <div class="chat-header">
          <span id="room-name"><%= roomName %></span>
        </div>
        <div class="chat-area"></div>
        <input id="chat-input" type="text" placeholder="Enter Message" autocomplete="off">
      </div>
      <div class="participant-box">
        <span>Participants</span>
        <% for(let user in users) { %>
          <div id="<%= users[user] %>" class="user"><i class="material-icons logo">person</i><%= users[user] %></div>
        <% } %>
      </div>
    </main>
  </body>
</html>
